<h1>Sök efter en bok</h1>

<div class="search-box">
  <input #searchInput class="search-bar" type="search" placeholder="Sök...">
  <button (click)="searchBooks(searchInput.value)" type="button" class="btn btn-info">SÖK</button>
  <button type="button" class="btn btn-danger" style="float: right;">Rensa markerade</button>
  <button type="button" class="btn btn-success" style="float: right;">Lägg till markerade i listan "Vill läsa"</button>
  <!--<button class="del">RENSA</button>-->
</div>


<div #searchOutput *ngFor="let book of books">
    <p>
      &nbsp;
      <input type="checkbox"/> &nbsp;
      <b>{{book.name}}</b> &nbsp;
      <i>{{book.author}}</i> &nbsp;
    </p>
</div>
