

<div class="search-box">
  <h1>Sök efter en bok</h1>
  <mat-form-field class="dropdown" >
    <mat-label>Sökningsfilter</mat-label>
    <mat-select [(value)]="selected" class="dropdown-select-group">
      <mat-option class="dropdown-select">Inget</mat-option>
      <mat-option class="dropdown-select" value="title">Titel</mat-option>
      <mat-option class="dropdown-select" value="author">Författare</mat-option>
    </mat-select>
  </mat-form-field>
  <input #searchInput class="search-bar" type="search" placeholder="Sök..." (keydown.enter)="searchBooks(searchInput.value, selected)">
  <button (click)="searchBooks(searchInput.value, selected)" type="button" class="btn btn-right">SÖK</button>
  <button type="button" class="btn btn-right" style="float: right;">Rensa markerade</button>
  <button (click)="setBooksToRead()" type="button" class="btn btn-left" style="float: right;">Markera som "Vill läsa"</button>
  <!--<button class="del">RENSA</button>-->
  <div *ngIf="fetchingData">  
    <mat-progress-bar mode="indeterminate" class="progress-bar"></mat-progress-bar>
  </div>
</div>


<div class="result-box-wrapper">
  <div #searchOutput class="result-box" *ngFor="let option of bookOptions; let i = index" [ngStyle]="{'background' : i % 2 == 0 ? 'white' : 'lightgray'}">
    <p>
        &nbsp;
        <input type="checkbox"
          name = "option.name"
          value = "{{option.value}}"
          [checked] = "option.checked"
          (change) = "option.checked = !option.checked"/> &nbsp;
        <b>{{option.value.name}}</b> &nbsp;
        <i>{{option.value.author}}</i> &nbsp;
      </p>
  </div>
</div>
