<div>
    <h1>Böcker att läsa</h1>
    <div *ngFor="let option of bookOptions">
        <p>
            <input type="checkbox"
            name = "option.name"
            value = "{{option.value}}" 
            [checked] = "option.checked"
            (change) = "option.checked = !option.checked"
            />
            <b>{{option.value.name}}</b> &nbsp;
            <i>{{option.value.author}}</i> &nbsp;
            <button class="del" (click)="deleteBook(option.value)">X</button>
        </p>
    </div>

    <button (click)="setReadBooks()">Send checked books</button>
</div>