.del {
    background: #ff0000;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    float: inline-end;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: initial;
  }


.review-box {
    height: 100px;
    width: 250px;
    border: 2px solid #17A2BB;
    margin: auto;
}

.dropdown{
    height: 51.31px;
    background: #5B8DA7;
    vertical-align: middle;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-top: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
}

.dropdown-select {
    overflow-y: visible;
    z-index: 1000;
}

.dropdown-select-group:focus{
    color: white !important;
    overflow-y: visible;
    z-index: 1000;

}


.dropdown-select:hover{
    background: #5B8DA7;
    box-shadow: inset 0 0 10px;
}

.result-box-wrapper{
    margin: 5% 10%;
    padding-bottom: 5%;
}

.modal { 
    overflow: visible; 
    position: relative;
    

}

.modal-body { 
    overflow-y: visible; 
    z-index: 10;
}

.modal-title {
    position: relative;
}

.container {
    position: absolute; 
    top: 150px;
}