<div class="container">
  <h1>Mina lästa böcker</h1>
  <div class="button-wrapper">
    <button (click)="showAllBooks()" type="button" class="btn btn-allBooks" [ngClass] = "{'btn-active' : activeButton[0]}">Alla lästa böcker</button>
    <button (click) = "showReviewedBooks()" type="button" class="btn btn-reviewedBooks" [ngClass] = "{'btn-active' : activeButton[1]}">Recenserade böcker</button>
    <!--button (click)="showNoReviewedBooks()" type="button" class="btn btn-noReviewedBooks" [ngClass] = "{'btn-active' : activeButton[2]}">Orecenserade böcker</button-->
  </div>

  <div class="result-box-wrapper">
    <div id ="activeOutput" class="result-box" *ngFor="let option of activeBookList; let i = index" [ngStyle]="{'background' : i % 2 == 0 ? 'white' : 'lightgray'}">
      <!--<div type = "button" class = "book-wrapper" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">-->
      <div class="book-wrapper">
        <div class = "text-wrapper" type="button" (click)="activateRevieweing(option)">
          <img class="img-revieweing" [src]="option.revieweing ? '../../assets/up-arrow.png': '../../assets/down-arrow.png'"/>
          <b>{{option.value.name}}</b> &nbsp;
          <i>{{option.value.author}}</i> &nbsp;
        </div>
        <div class = "btn-wrapper">
          <app-book-delete-confirmation *ngIf="option.deleting" (confirmed)="deleteOnConfirm($event, option.value)"></app-book-delete-confirmation>
          &nbsp;
          <button class="btn-delete" *ngIf="!option.deleting" (click)="deleteBook(option.value)"><img src="../../assets/delete.png"></button> 
        </div>
      </div>
      <div class="revewing-box" *ngIf="option.revieweing">
        <p> {{currentVal}} </p>  
        <!--Kolla om recension finns visa isåfall denna med en knapp för att redigera-->
        <!--Om ingen recension finns visa knapp för att recensera-->
        <!--vid knapptryck av något av ovanstående, visa form nedan?-->
        <hr>
        <h5>Du recenserar nu boken: </h5>
       
        <hr>
        
        <mat-form-field>
          <input #reviewInput class="review-box" type="review" placeholder="Skriv en recension">
          <button (click)="review(reviewInput.value, option)" type="button" class="btn btn-right">Skicka recension</button>
          <button class="btn btn-left" (click)="showreviews(option)">Visa recension</button>
          
        </mat-form-field>
        
      

      </div>

     
    </div>
    
  </div>
</div>


<!--<div>
    <h1>Böcker som jag har läst</h1>
    <div *ngFor="let option of bookOptions">
        <p>
            <b>{{option.value.name}}</b> &nbsp;
            <i>{{option.value.author}}</i> &nbsp;
            <button class= "btn" (click)="deleteBook(option.value)">Ta bort</button>
            <button class="btn" (click)="showreviews(option.value.name)">Visa recension</button>
            <app-book-delete-confirmation *ngIf="option.deleting" (confirmed)="deleteOnConfirm($event, option.value)"></app-book-delete-confirmation>
        </p>
</div>
    


<script> 
function test() {
document.getElementById("showr").innerHTML = "";

}
</script>

<div>
  <h2>Här är dina recensioner: </h2>
  {{currentVal}}
</div>

<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target= #myModal>Skriv en recension</button>      
<button class="btn btn-info btn-lg" (click)="showreviews(selected)">Visa dina recesioner</button><br>
<div #myModal class="modal fade"  role="dialog">
    <div class="modal-dialog">
    

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Vilken bok vill du skriva en recension om?</h4>
        </div>
       
        <div class="modal-body">
          <p>Klicka på knappen för att öppna rull-listan med böcker.</p>
          <mat-form-field class="dropdown">
            <mat-label>Böcker som jag har läst</mat-label>
            <mat-select [(value)]="selected" class="dropdown-select-group">             
              <mat-option class="dropdown-select" *ngFor="let option of bookOptions" value= "{{option.value.name}}">{{option.value.name}}</mat-option>>         
            </mat-select>
          </mat-form-field>

          <p>Du vill skriva en recension om </p>

          <input #reviewInput class="review-box" type="review" placeholder="Skriv en recension">
          <button (click)="review(reviewInput.value, selected)" type="button" class="btn btn-info">Skicka recension</button>
        </div>
                

                    /* When the user clicks on the button, 
                    toggle between hiding and showing the dropdown content */
                    function myFunction() {
                      document.getElementById("myDropdown").classList.toggle("show");
                    }
                    
                    // Close the dropdown if the user clicks outside of it
                    window.onclick = function(event) {
                      if (!event.target.matches('.dropbtn')) {
                        var dropdowns = document.getElementsByClassName("dropdown-content");
                        var i;
                        for (i = 0; i < dropdowns.length; i++) {
                          var openDropdown = dropdowns[i];
                          if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                          }
                        }
                      }
                    }

<body>
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      </head>
      <body>

          <h4 class="modal-title">Skriv en recension här: </h4>          
                <label for="choosebook">Bok som jag har läst: </label>
                <mat-select class="dropdown" id="choosebook" [(value)]="selected"> 
        <mat-option class="dropdown-content" *ngFor="let option of bookOptions" value="{{option.value.name}}">
          {{option.value.name}}</mat-option>
        </mat-select>
    <input #reviewInput class="review-box" type="review" placeholder="Skriv en recension">
     <button (click)="review(reviewInput.value, selected)" type="button" class="btn btn-info">Skicka recension</button>
    
                
-->


    

    
    