<div class="container">
    <h1>Böcker som jag har läst</h1>
    <div *ngFor="let option of bookOptions">
        <p>
            <b>{{option.value.name}}</b> &nbsp;
            <i>{{option.value.author}}</i> &nbsp;
            <button class= "btn" (click)="deleteBook(option.value)">Ta bort</button>
            <button class="btn" (click)="showreviews(option.value.name)">Visa recension</button>
            <app-book-delete-confirmation *ngIf="option.deleting" (confirmed)="deleteOnConfirm($event, option.value)"></app-book-delete-confirmation>
        </p>
    </div>
    


<script> 
function test() {
document.getElementById("showr").innerHTML = "";

}
</script>

<div>
<h2>Här är dina recensioner: </h2>
{{currentVal}}

</div>

<body>
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      </head>
      <body>

          <h4 class="modal-title">Skriv en recension här: </h4>          
                <label for="choosebook">Bok som jag har läst: </label>
                <mat-select class="dropdown" id="choosebook" [(value)]="selected"> 
        <mat-option class="dropdown-content" *ngFor="let option of bookOptions" value="{{option.value.name}}">
          {{option.value.name}}</mat-option>
        </mat-select>
    <input #reviewInput class="review-box" type="review" placeholder="Skriv en recension">
     <button (click)="review(reviewInput.value, selected)" type="button" class="btn btn-info">Skicka recension</button>
    
                


    

    
    