<div>
    <h1>Böcker som jag har läst</h1>
    <div *ngFor="let option of bookOptions">
        <p>
            <b>{{option.value.name}}</b> &nbsp;
            <i>{{option.value.author}}</i> &nbsp;
        </p>
    </div>

        <div class="review-box">
            <input #reviewInput class="review-box" type="review" placeholder="Skriv en recension">
            <button (click)="review(reviewInput.value)" type="button" class="btn btn-info">Skicka recension</button>
        </div>

       <h2>Här är dina recensioner: </h2>
       <p id="showr">... </p>

    
       <button (click)="showreviews()">Visa dina recesioner</button><br>
    </div>    

    {{currentVal}}

<button onclick="myFunction()">Click me</button>

<p id="demo"></p>



    



    

    
    